<% provide(:title, "Help") %>
<!DOCTYPE html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  </head> 
<body>
<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
</body>
</html>