<% provide(:title, "Home") %>
<!DOCTYPE html>
<head>
  <title><%= full_title(yield(:title)) %></title>
</head>
<body>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <!-- stub link for signing up -->
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<!-- image tag takes the path to the image, and an optional options hash -->
<!-- rails associates images with assets in the assets folder -->
<!-- but the browser sees them as being in one folder, get served faster -->
<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %></body>
</html>
