/*css.scss stands for sassy CSS, arranges the assets pipeline to 
 * process the file using sass.
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* header - styles the sites logo*/
$gray-medium-light: #eaeaea;
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* universal styles */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/*typography*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: #777;
}

footer{
  
 a {
  color: #555;
  &:hover {
    color: white; 
    text-decoration: none;
  }
 }



 small{
  float: left;
}

  ul {
  float: right;
  list-style: none;
}

  ul li{
  float: left;
  margin-left: 15px;
}
}