<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- look for file called app/views/layouts/_shim.html.erb, eval and insert into view -->
  <!-- underscore is the universial convention for naming partials -->
  <%= render 'layouts/shim' %>
</head>
<body>
  <!-- classes can be used multiple times, ID's only once -->
  <!-- div is a generic division, container is its css class, has a special meaning in bootstrap -->
  <%=render 'layouts/header'%>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer'%>
    </div>
  </header>
</body>
</html>
